/* colors
ABD48A (green) 
DDDDDE (light gray)
F5EAE6 (beige)
F0E5E0 (cream)
C7C7C9 (gray)
F2F2F4 (white)
808081 (dark gray)
F3DBF0 (pink)
F2E7F3 (purple)
070608 (black)

rgb(70, 63, 58) dark gray
rgb(138, 129, 124) med gray
rgb(188, 184, 177) light gray
rgb(244, 243, 238) white
rgb(224, 175, 160) pink
*/

body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Poppins';
}
.sections-container {
    display:flex;
    flex-direction:column;
}
.hamburger-container {
    padding:15px;
    display:flex;
    align-items: center;
    display:none;
}
#hamburger-link {
    text-decoration: none;
    color:white;
    display:flex;
    align-items: center;
    padding:0 15px;
    font-size:20px;
}
#jumbotron {
    display:flex;
    color:white;
    align-items: center;
    justify-content: flex-start;
    margin:0px;
    padding:0px;
    width:100%;
    background-image:url(/images/brown_theme.jpeg);
    background-repeat:no-repeat;
}
#jumbotron > div {
    margin:0px;
    letter-spacing: 6px;
    
}
#jumbotron  p {
    font-size:48px;
    margin:auto;
    font-family: 'Poppins', cursive;

}
#jumbotron  h1 {
    font-size:144px;
    margin:auto;
    font-family: 'Tangerine', cursive;
}

.navbar {
    color:white;
    background-color: rgba(7,6,8,0.9);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    padding: 0 10px;
    align-items: center;
    height:60px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.nav-items {
    display:flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    float:right;
    letter-spacing: 1px;
    font-size:18px;
}
.nav-items > li {
    margin:0 24px;
    border-bottom:2px solid transparent;
}
.nav-items > li:hover {
    border-bottom:2px solid white;
}
.nav-items a, .nav-items a:visited {
    text-decoration: none;
    color:white;
}

.company_name {
    display:flex;
    font-family: 'Tangerine', cursive;
    font-size:50px;
    letter-spacing: 3px;
    font-weight:normal;
    animation-name:fadein;
    animation-duration: 2s;
    margin-top:5px;
}
@keyframes fadein {
    from{opacity:0}
    to{opacity:1}
}

.about-animate {
    animation-name: aboutfade;
    animation-duration: 3s;
}
.about-left {
flex:1;
flex-wrap: wrap;
}
.about-right {
    padding:45px;
    display:flex;
    flex:1;
    flex-direction: column;
    align-content:center;
    background-color: rgba(209, 98, 116, 0.8);
    height:auto;
}
.about-right > h1 {
    font-family: 'Poppins', cursive;
    font-size:36px;
    letter-spacing:2px;
    margin:0;
    color:white;
}

.about-right > p {
    font-size:24px;
    color:rgb(70, 63, 58);
}

#products {
    margin:0;
    padding:30px 10px 75px 10px;
    min-height:800px;
    background-color:rgb(70, 63, 58);
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.products-header{
    font-family: 'Poppins', cursive;
    font-size:48px;
    display:flex;
    letter-spacing:5px;
    justify-content: center;
    align-items: center;
    margin:32px 0;
    color:rgb(209, 98, 116);

}
.products-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
 }
.product-card-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
}
.product-card-container:hover {
    cursor: pointer;
}
.product-card-container:hover > .product-card-img {
    opacity:0.5
}
.product-card-container:hover > .product-card-text {
    color:white;
    background-color: rgb(209, 98, 116);
    border-color:rgb(209, 98, 116);
}
.product-card-img {
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-bottom: 25px;
}
.product-card-text {
    display:flex;
    flex-wrap:wrap;
    font-size:20px;
    letter-spacing: 4px;
    border:1px solid white;
    width:100%;
    justify-content: center;
    text-align: center;
}
#training {
    margin:0;
    padding:30px 10px 75px 10px;
    min-height:800px;
    background-color:white;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.training-header {
    font-family: 'Poppins', cursive;
    color:rgb(70, 63, 58);
    display:flex;
    letter-spacing:5px;
    align-items: center;
    margin-bottom:25px;
}
.training-cards {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.training-card {
    height:400px;
    width:300px;
    background-color:rgb(70, 63, 58);
    margin:50px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-family: 'Poppins';
    letter-spacing: 2px;
    border-radius: 12px;
    overflow:hidden;
}
.card-header {
   flex:2; 
   width:100%;
   font-size:20px;
   color:white;
   display:flex;
    margin:auto;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.card-body-1 {
    flex:5;
    background-color:white;
    background-image:url(./images/lotions_2.jpg);
    background-size: cover;
    background-position:center;
}
.card-body-2 {
    flex:5;
    background-color:white;
    background-image:url(./images/dark_blue_theme.jpeg);
    background-size: cover;
    background-position:center;
}
.card-body-3 {
    flex:5;
    background-color:white;
    background-image:url(./images/surgaring2.jpg);
    background-size: cover;
    background-position:center;
}
.card-body-4 {
    flex:5;
    background-color:white;
    background-image:url(./images/makeup-model.png);
    background-size: cover;
    background-position:center;
}
.card-body-5 {
    flex:5;
    background-color:white;
    background-image:url(./images/tinting2.jpg);
    background-size: 100%;
    background-position:center;
}
.card-footer {
    flex:2;
    display:flex;
    align-items:center;
    height:auto;

}
.card-img {
width:100%;
height:auto;
}
.card-btn {
    display: flex;
    align-items:center;
    margin:auto;
    justify-content: center;
    width:50%;
    height:50%;
    background-color: rgb(209, 98, 116);
    border:2px solid transparent;
    color:white;
    font-size:18px;
    border-radius:10px;
    letter-spacing: 2px;
}
.training-card:hover {
    cursor: pointer;
}
.training-card:hover > .card-header {
    color:black;
    background-color: rgb(209, 98, 116);
}
.training-card:hover > .card-footer {
    color:black;
    background-color: rgb(209, 98, 116);
}
.training-card:hover  .card-btn {
    color:black;
    background-color:white;
    cursor:pointer;
}
#contact {
    margin:0;
    padding:10px;
    color:white;
    min-height:500px;
    background-color:rgb(70, 63, 58);
    font-family: 'Poppins', cursive;
}
#contact > h1 {
    font-size:48px;
    color: rgb(209, 98, 116);
    text-align: center;
    padding:25px;
    letter-spacing:5px;
}
.contact-body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact-name {
    font-size:22px;
    letter-spacing:2px;

}
.contact-email > a{
    text-decoration:none;
    color:white;
}
.contact-email > a:visited {
    text-decoration: none;
    color:white;
}

.email_icon {
    font-size:25px;
    padding-right:5px;
    vertical-align: middle;
}
.email_address {
    border-bottom:2px solid white;
    letter-spacing:2px;
}
.contact-email:hover > a{
    color:rgb(209, 98, 116);
}
.contact-email:hover  .email_address{
    border-color:rgb(209, 98, 116);
}

.footer {
text-align:center;
color:white;
height:200px;
display: flex;
align-items: flex-end;
padding:5px;


}
@media screen and (max-width: 650px) {
    .hamburger-container {
        display:flex;
    }
    #hamburger-link {
        display:flex;
        text-decoration: none;
        color:white;
        padding:10px;
    }
     .nav-items {
        position:absolute;
        top:60px;
        right:0px;
        height:45px;
        background-color:rgba(7,6,8,0.9);
        margin:0;
        width:50%;
        height:auto;
        padding:25px 0;
        display:none;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: flex-start;
        justify-content: center;
        border-radius: 0 6px;
    }
    .nav-link {
        display:flex;
        padding:15px 0px;
    }
    #jumbotron {
        background-size:cover;
        height:400px;
    }
    #jumbotron > div {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
            
    }
    #jumbotron  p {
        font-size:20px;
        margin:auto;
        font-family: 'Poppins', cursive;
    }
    #jumbotron  h1 {
        font-size:72px;
        margin:auto;
        font-family: 'Tangerine', cursive;
    }
    #about {
        display:flex;
        flex-direction:column;
        margin:0px;
        padding:0px;
        height:auto;
        justify-content: center;
    }
    .about-left {
        min-height:325px;
        background-image:url(/images/model_3.jpeg);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
    }
    .about-right {
        align-items:center;
        height:auto;
        display:flex;

    }
    .about-right > p {
        text-align: center;
    }
    .training-header {
        font-size:32px;
    }
    .footer {
        justify-content: center;
    }

}
@media screen and (min-width: 650px) and (max-width: 1280px) {
    .hamburger-container {
        display:flex;
    }
    .nav-items {
        display:none;
        flex-wrap:wrap;
        height:auto;
        text-decoration: none;
        list-style-type: none;
        letter-spacing: 1px;
        font-size:18px;
        top:0px;
        right:0px;
        float:right;
        background-color:transparent;
        position:unset;
        }
    .nav-link {
        display:none;
    }
    #jumbotron {
        background-size:cover;
        height:800px;
    }
    #jumbotron > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    #jumbotron  p {
        font-size:48px;
        margin:auto;
        font-family: 'Poppins', cursive;
    
    }
    #jumbotron  h1 {
        font-size:144px;
        margin:auto;
        font-family: 'Tangerine', cursive;
    }
    #about {
        display:flex;
        flex-direction:column;
        margin:0px;
        padding:0px;
        height:auto;
        justify-content: center;
    }
    .about-left {
        min-height:400px;
        background-image:url(/images/model_3.jpeg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center;
    }
    .about-right {
        align-items:center;
        height:auto;

    }
    .about-right > p {
        text-align: center;
    }
    .training-header {
        font-size:48px;
    }
    .footer {
        justify-content: flex-start;
    }
  }
  @media screen and (min-width: 650px) and (max-width:795px){
    .hamburger-container {
        display:block;
    }
     .nav-items {
        position:absolute;
        top:60px;
        right:0px;
        height:45px;
        background-color:rgba(7,6,8,0.9);
        margin:0;
        width:50%;
        height:auto;
        padding:25px 0;
        display:none;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: flex-start;
        justify-content: center;
        border-radius: 0 6px;
    }
    .nav-link {
        display:flex;
        padding:10px 0px;
    }   

}
@media screen and (min-width: 795px) {
    .hamburger-container {
        display:none;
    }

    .nav-items {
        display:flex;
        text-decoration: none;
        list-style-type: none;
        letter-spacing: 1px;
        font-size:18px;
        top:0px;
        left:0px;
        float:right;
        position:unset;
        }
    .nav-link {
        display:flex;
 
    }
}
@media screen and (min-width: 1280px) {

    .nav-items {
        display:flex;
        text-decoration: none;
        list-style-type: none;
        letter-spacing: 1px;
        font-size:18px;
        top:0px;
        left:0px;
        float:right;
        background-color:transparent;
        position:unset;
        }

    #jumbotron {
        background-size:cover;
        height:800px;

    }
    #jumbotron > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    #about {
        display:flex;
        flex-direction:row;
        margin:0px;
        padding:0px;
        height:100%;
        justify-content: center;
    }
    .about-left {
        min-height:600px;
        background-image:url(/images/model_3.jpeg);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:right;
    }
    .about-right > p {
        text-align: left;
    }
    .training-header {
        font-size:48px;
    }
    .footer {
        justify-content: flex-start;
    }
  }
  .show-mobile-nav{
      display:flex;
  }